p{
    color:rgb(29, 131, 120);
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}
body{background-color: beige;}
h1 {color:burlywood; 
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
    text-align: center;
    padding: 30px 10px 20px 15px;

}

ol{text-align: center;}

/* link css*/

 a:link,a:visited{color: blueviolet;}
 a:hover{font-size: 35px;color:cadetblue}
 a:active{color: chocolate;}

 /* text decoration */
 h3{text-decoration-style:wavy; text-decoration: underline;}
 
/* IDs and classes
to tell css it's a class, begin with a period: . intro
To indicate it's an ID, begin with a hashtag:#page-title


<section> <nav> <header> <main> <footer> <article>




*/


.paragraph{font-size: 12px;color: rgb(35, 133, 224);}
.products{font: 25px;color:rgba(159, 20, 20, 0.394)}


.button {
    color: white;
    background-color: blue;
    padding: 12px 16px;
    border: 2px solid rgb(158, 25, 25);
    margin: 20px;

}
.button {
    color: white;
    background-color: rgb(46, 173, 133);
    padding: 12px 16px;
    border: 2px solid rgb(158, 25, 25);
    margin: 20px;
    display: inline-block;
    border-radius: 30%;

}

.some-image{
    display:block;
    margin-left: auto;
    margin-right: auto;

}